* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.box1 {
    position: absolute;
    background-color: red;
    height: 200px;
    width: 200px;
    overflow: hidden;
    transform: translate(100%, -100%);
}


.box2 {
    position: relative;
    background-color: black;
    height: 100px;
    width: 100px;
    overflow: hidden;

}


.box3 {
    position: relative;
    background-color: rgb(170, 0, 255);
    height: 200px;
    width: 200px;
    overflow: hidden;
    top: 10%;
    right: -5%;
}


.box4 {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: purple;
    top: 700px;
    left: 50%;
}