@import url(https://fonts.googleapis.com/css?family=Bree+Serif:regular);

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Bree Serif;
  background: #7f9ead;
}

.card {
  position: relative;
  width: 15.625rem;
  height: 11.25rem;
  border-radius: 0.625rem;
  box-shadow: 0px 0.3125rem 1.25rem rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 1.875rem 3.125rem;
  background: #fff;
  margin-right: 1.875rem;
}


.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-7rem);
  /* z-index: 1; */
}

img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.content {
  cursor: text;
  padding: px 20px;
  text-align: center;
  transform: translateY(-18rem);
  opacity: 0;
  transition: 0.4s;
  background-color: red;
}

.content h2 {
  color: red;
  /* transition: transform 0.4s ease-in-out; */
  opacity: 1;
  
}

.card:hover
{
  height: 21rem;
}


.card:hover > .content {
  opacity: 1;
  transform: translateY(-18rem);
}


.card:hover > .content h2 {
  transform: translateY(-2rem); /* Moves h2 up */
}



h5
{
  margin-top: .1rem;
  font-size: 18px;
  color: purple;
  font-weight: 700;
}