body
{
    margin: 0;
    padding: 0;
    background-color: #222222;
}


.main
{
    position: relative;
    margin: 200px auto 0;
    height: 30rem;
    width: 49rem;
    background: linear-gradient(0deg,#000,#262626);
    border-radius: .9rem;

}


img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: .9rem;

}


.main::before,
.main::after
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    background-size:400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
    border-radius: .9rem;
}

.main::after
{
    filter: blur(10px);
    
}


@keyframes animate 
{
    0%
    {
        background-position: 0 0; 
    }

    
    50%
    {
        background-position: 300% 0;
    }

    
    100%
    {
        background-position: 0 0;
    }
}


.title
{
    color: rgb(0, 255, 8);
    font-size: 30px;
    font-family: cursive;
    text-align: left;
}